/* десктоп шириной 1920px */
@media all and (min-device-width: 1920px){
  p {font-size: 32px; line-height: 38px;}
}
/* десктоп шириной 1366px */
@media all and (min-device-width: 1024px) and (max-device-width: 1366px) {
}
/* десктоп шириной 1024px */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
  p {font-size: 18px; line-height: 21px;}
  /* .sign {left: 512px;}
  .character {left: 554px;} */
}
/* планшет шириной 768px */
@media all and (min-device-width: 414px) and (max-device-width: 768px) {
  p {font-size: 18px; line-height: 21px;}
  .sign {left: 512px;}
  .character {left: 554px;}
}
/* айфон шириной 414px */
@media all and (min-device-width: 360px) and (max-device-width: 414px) {
  p {font-size: 18px; line-height: 21px;}
}
/* андроид шириной 360px */
@media all and (min-device-width: 360px) and (max-device-width: 360px) {
  p {font-size: 16px; line-height: 18px;}
}
